.dashboard {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  .filter-container {
    margin-bottom: 20px;
  }
  
  .filter-button {
    margin-left: 10px;
  }
  
  .total-energy {
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .details-heading {
    margin-bottom: 10px;
  }
  
  .energy-list {
    list-style-type: none;
    padding: 0;
  }
  
  .energy-item {
    margin-bottom: 5px;
  }
  
  .entry-date {
    font-weight: bold;
  }
  
  .no-data {
    font-style: italic;
  }
  main {
    background-color: #f4f4f4; /* Background color for the main content */
    padding: 20px; /* Add padding to give content some spacing from the edges */
    border-radius: 4px; /* Add rounded corners for a container-like appearance */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
  }
  
  